.sideBar {
  --text: white;

  background-color: var(--bg);
  color: var(--text);

  display: flex;
  flex-direction: column;
  min-width: 20%;
  max-width: fit-content;
  min-height: 100vh;
}

.link {
  font-size: 1rem;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  transition: 200ms transform;
}

.link:hover {
  transform: translateY(-5px);
}

.link:active {
  transform: scale(95%);
}

.link-lg {
  font-size: 1.6rem;
}

.link-logo > img {
  width: 1.3em;
  object-fit: scale-down;
}

.link-logo > svg {
  width: 1.3em;
  height: 1.3em;
  object-fit: scale-down;
}

.link-text {
  text-transform: capitalize;
}

.sideBar-personalLinks,
.sideBar-serviceLinks,
.sideBar-companyLogo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  list-style: none;
}

main {
  flex: 1;
}

header {
  background-color: white;
  box-shadow: 0 0 5px 0 gray;
  grid-row: 1;
  grid-column: 1 / span 2;
  z-index: 1;
}

.searchBar {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
}

.searchBar-search {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
  margin-right: 80px;
}

.searchBar-searchIcon {
  width: 1rem;
  height: 1rem;
}

.searchBar-input {
  line-height: 1.5rem;
  border-radius: 9999px;
  border: none;
  background-color: #e2e8f0;
  flex: 1;
  padding-left: 10px;
}

.searchBar-input:focus-visible {
  outline: dashed 3px lightgreen;
  outline-offset: 5px;
}

.titleBar {
  display: flex;
  align-items: center;
  gap: 30px;
}

.titleBar-notification {
  cursor: pointer;
}

.titleBar-notification > svg {
  width: 1rem;
  height: 1rem;
}

.avatar {
  display: grid;
  grid-template-columns: fit-content(0) 1fr;
  grid-template-rows: fit-content(0) 1fr;
  align-items: center;
  cursor: pointer;
}

.avatar > .avatar-avatarImage {
  grid-row: 1 / span 2;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
}

.avatar > .avatar-avatarImage > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 9999px;
}

.avatar-displayName {
  grid-row: 2;
  font-weight: bold;
}

.avatar-lg {
}

.avatar-lg > .avatar-avatarImage {
  width: 2.5rem;
  height: 2.5rem;
}

.avatar-lg > .avatar-avatarImage > img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 9999px;
}

.actionBar {
  display: flex;
  padding: 10px 20px;
}

.avatar-greeting {
  font-weight: bold;
}

.avatar-greeting > small {
  font-size: 0.7rem;
}

.avatar-greeting > h1 {
  font-size: 1rem;
}

.actionBar-actions {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.btn-action {
  background-color: var(--bg);
  border-radius: 9999px;
  padding: 6px 24px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 200ms transform;
}

.btn-action:hover {
  transform: translateY(-2px);
}

.btn-action:active {
  transform: scale(90%);
}

.myProjects {
  grid-column: 1;
  grid-row: 2 / span 2;
  background-color: #e2e8f0;
  padding: 20px 5px 0 12px;
}

.myProjects > h1 {
  margin-bottom: 5px;
  font-size: 1rem;
}

.projectsList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  grid-gap: 20px 20px;
  overflow-y: scroll;
  height: 100%;
  padding: 0 10px 50px 0;
}

.project {
  box-shadow: 3px 3px 5px 0 #00000011;
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-columns: 6px 1fr;
  grid-template-rows: 1fr 30px;
}

.project-status {
  border-radius: 5px 0 0 5px;
  background-color: #f0b429;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.project-description {
  padding: 20px 12px;
  cursor: pointer;
}

.project-name {
  font-size: 1.2rem;
  margin-bottom: 6px;
}

.project-summary {
  color: #636363;
}

.project-actions {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: end;
  padding-right: 20px;
}

.btn-fork,
.btn-like,
.btn-watch {
  width: 16px;
  cursor: pointer;
  transition: 200ms transform;
}

.btn-fork:hover,
.btn-like:hover,
.btn-watch:hover {
  transform: translateY(-10%);
}

.btn-fork:active,
.btn-like:active,
.btn-watch:active {
  transform: scale(80%);
}

.btn-fork > svg,
.btn-like > svg,
.btn-watch > svg {
  width: 100%;
  height: 100%;
}

.board {
  display: grid;
  height: 100vh;
  overflow-y: hidden;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: fit-content(0) 1fr 1fr;
  background-color: #e2e8f0;
}

.announcements {
  padding: 20px 5px 0 0;
  background-color: #e2e8f0;
  grid-area: 1 / 2 / 2 / 3;
  grid-row: 2;
}

.announcements > h1 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.announcementList {
  background-color: white;
  list-style: none;
  max-height: 40vh;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 0 13px 10px 13px;
}

.announcement-title {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.announcement-summary {
  font-size: 0.6rem;
  color: #636363;
}

.announcement {
  padding: 10px 0;
  border-bottom: solid 2px #00000022;
}

.trending {
  grid-area: 3 / 2;
  background-color: #e2e8f0;
  padding: 20px 5px 0 0;
}

.trending > h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.avatarList {
  background-color: white;
  list-style: none;
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.avatar-displayName--fade {
  color: #636363;
  font-weight: normal;
  max-width: 200px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
